.pocetna{

}

.pocetna__inner{
    padding-top: 2em;
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.heading{
    flex: 1;
}

h1{
    font-size: 4em;
    color: #4A99D3;
    padding-top: 2em;
    margin: 0;
}

.heading__img__container{
    flex: 1;
}

.contact__btn{
    background-color: #4A99D3;
    color: #fff;
    width: 50%;
    text-align: center;
    margin-top: 30px;
    padding: 3px 0px;
    border-radius: 5px;
}